/* css */


/* colores principales */

:root {
    --green-first: #43DC80;
    --blue: #51A6F5;
    --red: #FF4C41;
    --violet: #864AD1;
    --orange: #FFAC30;
    --green-second: #68CF29;
}

body {
    margin: 0;
    padding: 0;
}


/* DEPURADORES */


/* div {
    border: 1px solid black;
} */


/* aside>div {
    border: 0.5px solid black;
}

main>section>div {
    border: 0.5px solid black;
} */

nav {
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.header-nav-one {
    display: flex;
    margin: 1px;
    padding: 1px;
    text-transform: uppercase;
}

.img-nav-container-one {
    display: flex;
    align-self: center;
}

.img-nav-one {
    border-radius: 15px;
}

.nav-one-container {
    padding: 1px;
    display: flex;
    align-items: center;
}

.one-container-color {
    color: red;
}

.menu-hamburger-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

.menu-hamburger {
    width: inherit;
    height: inherit;
    display: block;
}

.hamburger-dash {
    border: none;
    border-radius: 25px;
    background-color: green;
    height: 4px;
    margin: 5px 0px;
}

.hamburger-dash.one {
    width: 25px;
    margin: 5px 0px 5px 5px;
}

.hamburger-dash.three {
    width: 25px;
    margin: 5px 0px 5px 5px;
}

.header-nav-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    text-transform: capitalize;
}

.nav-two-container {
    display: flex;
    align-items: center;
}

.img-nav-two {
    border-radius: 50%;
}

.nav-two-text {
    margin: 1px;
    padding: 1px;
}


/* FIN DE HEADER/NAV */

.contenedor {
    display: flex;
}


/* INICIO DE BARRA LATERAL */

.barra {
    width: 20%;
}

.container-movements {
    margin: 5px;
    text-align: center;
}

.movements-deposit {
    margin: 20px 10px;
    padding: 15px;
    color: blanchedalmond;
    background-color: var(--green-first);
    border-radius: 15px;
}

.movements-withdraw {
    margin: 20px 10px;
    padding: 15px;
    color: blanchedalmond;
    background-color: var(--orange);
    border-radius: 15px;
}


/* FIN DE BOTONES DE DEPOSITO Y EXTRANCION */

.container-menu {
    margin: 5px;
}

.cont-menu:hover {
    color: var(--green-first);
}

.cont-menu {
    color: #7E7E7E;
    border-radius: 15px;
    margin: 20px 10px;
    padding: 15px;
}

.cont-menu>span {
    vertical-align: super;
}

.cont-menu.dash {
    background-color: #ecfbf2;
    text-transform: capitalize;
}

.cont-menu.trans {
    text-transform: capitalize;
}

.cont-menu.price {
    text-transform: uppercase;
}


/* FIN DE BOTONES DE NAVEGACION */

.faq-privacy {
    display: flex;
}

.faq {
    color: blanchedalmond;
    background-color: var(--blue);
    border-radius: 15px;
    margin: 20px 10px;
    padding: 15px;
}

.privacy {
    color: blanchedalmond;
    background-color: var(--red);
    border-radius: 15px;
    margin: 20px 10px;
    padding: 15px;
}


/* FIN DE BARRA LATERAL */

.principal {
    width: 80%;
}